/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        LEFT_HAND: LEFT_HAND {
            compatible = "zmk,behavior-hold-tap";
            label = "LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 18 19 30 31 8 9 10 11 20 21 22 23 32 33 34 35>;
        };

        RIGHT_HAND: RIGHT_HAND {
            compatible = "zmk,behavior-hold-tap";
            label = "RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 12 24 1 2 3 4 5 13 14 15 16 17 25 26 27 28 29 36 37 38>;
        };

        THUMBS: THUMBS {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMBS";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&lt 3 ESC                       &kp Q  &kp W  &kp E             &kp R         &kp T              &kp Y        &kp U      &kp I          &kp O    &kp P          &kp BACKSPACE
&mt LA(LC(LG(LEFT_SHIFT))) TAB  &kp A  &kp S  &kp D             &kp F         &kp G              &kp H        &kp J      &kp K          &kp L    &kp SEMICOLON  &kp SQT
&kp LEFT_SHIFT                  &kp Z  &kp X  &kp C             &kp V         &kp B              &kp N        &kp M      &kp COMMA      &kp DOT  &kp FSLH       &kp RIGHT_SHIFT
                                              &kp LEFT_CONTROL  &kp LEFT_GUI  &lt 1 BACKSPACE    &lt 2 ENTER  &kp SPACE  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&trans  &kp DOLLAR   &kp AMPS  &kp CARET  &kp STAR   &trans      &kp EQUAL     &kp N7        &kp N8        &kp N9        &kp LEFT_BRACKET      &kp RBKT
&trans  &kp PERCENT  &kp HASH  &kp AT     &kp MINUS  &kp EXCL    &kp MINUS     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp LEFT_PARENTHESIS  &kp RPAR
&trans  &trans       &trans    &trans     &trans     &trans      &kp NUMBER_0  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PIPE              &kp TILDE
                               &trans     &trans     &trans      &trans        &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans  &trans                 &kp LA(NUMBER_1)       &kp LA(NUMBER_2)       &kp LA(NUMBER_3)  &kp LA(NUMBER_4)         &trans    &trans          &trans        &trans     &trans  &trans
&trans  &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(D))))  &kp LG(TAB)       &kp LS(LA(LC(LG(F))))    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &trans                 &trans                 &trans                 &trans            &trans                   &trans    &trans          &trans        &trans     &trans  &trans
                                                      &trans                 &trans            &trans                   &trans    &trans          &trans
            >;
        };

        Bluetooth {
            display-name = "BT";
            bindings = <
&trans  &trans  &trans  &trans    &trans  &trans       &bt BT_CLR  &trans  &trans    &trans  &bt BT_SEL 4  &bt BT_SEL 2
&trans  &trans  &trans  &trans    &trans  &trans       &trans      &trans  &trans    &trans  &trans        &bt BT_SEL 1
&trans  &trans  &trans  &trans    &trans  &trans       &trans      &trans  &trans    &trans  &bt BT_SEL 3  &bt BT_SEL 0
                        &kp LGUI  &trans  &kp SPACE    &kp RET     &trans  &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
